/*owl-carrousel*/
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/**/
body{font-family: 'Exo', sans-serif;font-size: 12px;background: #F2F2F2;}
.clear-fix:after,.clear-fix:before{content: " ";display: table}
.clear-fix:after{clear: both}
.reset-ul{list-style: none;padding-left: 0;margin-bottom: 0;}
.left{float: left;}
.right{float: right;}
html.menuActive, body.menuActive{height: 100%;}
.menuActive #main{overflow: auto;height: 100%;}
/*Header*/
header{height: 70px;background: #0B0B0B;}
.inner-nav-header{margin-top: 8px;}
.logo-header{padding-right: 10px;border-right: 1px solid #fff;margin-right: 15px;}
.logo-header img{width: 152px;}
.cnt-logo-header>h3{margin-top: 18px;margin-bottom: 0;color: #fff;font-size: 22px;font-weight: 600;}
.nav-header-l{margin-top: 10px;}
.nav-header-l ul li{float: left;margin-right: 50px;}
.nav-header-l ul li:last-child{margin-right: 0;}
.nav-header-l ul li a{font-size: 16px;color: #FFFFFF;font-weight: 400;display: block;line-height: 36px;}
.nav-header-l ul li a:active, .nav-header-l ul li a:focus, .nav-header-l ul li a:hover{text-decoration: none;}
.inner-nav-header .form-search{margin-left: 45px;}
.inner-nav-header .form-search input{height: 36px;border:1px solid #FFFFFF;background: transparent;padding: 10px 36px 10px 10px;color: #fff;font-size: 12px;width: 250px;}
.inner-nav-header .form-search button{width: 36px;height: 36px;}
.inner-nav-header .form-search button span{background: url(../img/ico-search-h.svg) no-repeat;background-size: 100% 100%;}
.icoMenu{display: none;height: 60px;width: 50px;margin-right: 15px;float: left;text-align: center;margin-left: -15px;}
.icoMenu>span{width: 16px;height: 14px;background: url(../img/ico-menu-m.svg) no-repeat;background-size: 100% 100%;display: inline-block;vertical-align: top;margin-top: 24px;}
.home .logo-header img{width: 134px;}
.home header{height: 80px;background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%);background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%);background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#00000000',GradientType=0 );position: absolute;top: 0;left: 0;right: 0;z-index: 9;}
.home .inner-nav-header{border-bottom: 1px solid #EDF1F7;padding-bottom: 19px;}
.home .inner-nav-header{margin-top: 15px;}
.home .cnt-logo-header>h3{margin-top: 14px;}
/*Menu responsive*/
.sidepanel{height: 100%;width: 0;position: fixed;z-index: 1001;top: 0;left: 0;background-color: #111;overflow-x: hidden;padding-top: 60px;transition: 0.5s;overflow: auto;}
.sidepanel a{padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s;}
.cnt-nav-movil{height: auto;}
.bg-overlay{position: fixed;z-index: 1000;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.3);opacity: 0;transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;transform: translate3d(100%, 0px, 0px);}
.bg-overlay.activeMenu{opacity: 1;transition: opacity 0.3s ease 0s;transform: inherit;}
/*Slider main*/
.slide-single{height: 570px;background-size: cover;background-position: center center;}
.main-slider .owl-nav .owl-prev, .main-slider .owl-nav .owl-next{border:0;outline: 0;width: 20px;height: 40px;position: absolute;top: 50%;margin-top: -20px;}
.main-slider .owl-nav .owl-prev{left: 75px;}
.main-slider .owl-nav .owl-prev>span{display: block;background: url(../img/s-left.svg) no-repeat;background-size: 100% 100%;width: 20px;height: 40px;text-indent: -9999999px;}
.main-slider .owl-nav .owl-next{right: 75px;}
.main-slider .owl-nav .owl-next>span{display: block;background: url(../img/s-right.svg) no-repeat;background-size: 100% 100%;width: 20px;height: 40px;text-indent: -9999999px;}
.bg-slider{height: 325px;position: absolute;bottom: 0;left: 0;right: 0;background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );}
.n-slider-t{position: relative;height: 570px;}
.inner-info-s{width: 410px;position: absolute;bottom: 90px;left: 0;}
.inner-info-s span{display: block;margin-bottom: 15px;}
.inner-info-s span a{display: inline-block;border-radius: 11px;background: #00B122;height: 22px;line-height: 22px;padding: 0 15px;font-size: 12px;color: #FFFFFF;font-weight: 700;}
.inner-info-s h2{margin-bottom: 10px;margin-top: 0;}
.inner-info-s h2 a{display: block;color: #FFFFFF;font-size: 30px;font-weight: 700;}
.inner-info-s p{font-size: 15px;color: #FFFFFF;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 120%;margin-bottom: 0;}
.main-slider .owl-dots{position: absolute;left: 0;right: 0;bottom: 20px;text-align: center;}
.main-slider .owl-dots button{display: inline-block;margin: 0 4px;height: 20px;outline: 0;}
.main-slider .owl-dots button span{display: block;width: 18px;height: 2px;background: #878788;}
.main-slider .owl-dots button.active span{background: #fff;}
/*Contenido*/
.container{width: 1200px;}
.wrapper{margin-bottom: 30px;}
.b-perfil{min-height: 85px;margin-bottom: 15px;position: relative;padding-left: 105px;}
.panel-bloque.u-egresados{padding: 17px 17px 12px 17px;height: 205px;}
.u-egresados{margin-bottom: 20px;min-height: 205px;}
.u-egresados p{margin-bottom: 0;font-size: 15px;color: #58585A;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 110%;height: 50px;overflow: hidden;}
.b-perfil figure{width: 85px;height: 85px;position: absolute;top:0;left:0;border-radius: 50%;overflow: hidden;}
.b-perfil figure a{display: block;}
.info-perfil h2{margin-top: 0;margin-bottom: 8px;}
.info-perfil h2 a{display: block;line-height: 130%;font-weight: 700;font-size: 18px;color: #FF6C0E;}
.info-perfil h4{margin-bottom: 5px;margin-top: 0;color: #404040;font-weight: 700;font-size: 14px;}
.info-perfil>span{font-size: 13px;color: #7E7E7E;font-weight: 400;line-height: 120%;}
.inner-egresados>.row{margin-left: -10px;margin-right: -10px;}
.inner-egresados>.row>.col-md-6{padding-left: 10px;padding-right: 10px;}
.cnt-ver-mas{text-align: center;margin-top: 10px;}
.btn-v{height: 55px;border-radius: 4px;background: #009CFD;display: inline-block;line-height: 55px;font-size: 18px;color: #fff;font-weight: 400;}
.cnt-ver-mas .btn-v{width: 330px;}
.cnt-ver-mas .btn-v:active, .cnt-ver-mas .btn-v:focus, .cnt-ver-mas .btn-v:hover{opacity: 0.8;text-decoration: none;color: #fff;}
.home .wrapper{padding: 28px 0;}
/*Nota*/
.body-note{padding: 30px 0;}
.inner-note>h1{color: #000000;font-size: 32px;font-weight: 700;margin-top: 0;margin-bottom: 10px;line-height: 120%;}
.inner-note>time{display: block;margin-bottom: 13px;font-size: 13px;color: #939393;font-weight: 300;font-family: 'Roboto', sans-serif;}
.cnt-multimedia{margin-bottom: 30px;}
.cnt-multimedia figure img{width: 100%;}
.inner-note-body{position: relative;padding-left: 100px;}
.info-note-b p{font-size: 15px;color: #000000;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 140%;margin-bottom: 30px;}
.social-note{position: absolute;left: 20px;top: 0;}
.social-note ul li{margin-bottom: 10px;}
.social-note ul li a{width: 40px;height: 40px;display: block;}
.social-note ul li a.n-fb{background: url(../img/n-fb.svg) no-repeat;background-size: 100% 100%;}
.social-note ul li a.n-tw{background: url(../img/n-tw.svg) no-repeat;background-size: 100% 100%;}
.social-note ul li a.n-lk{background: url(../img/n-lk.svg) no-repeat;background-size: 100% 100%;}
.social-note ul li a.n-gp{background: url(../img/n-gp.svg) no-repeat;background-size: 100% 100%;}
.cnt-tags{margin-bottom: 20px;}
.cnt-relacionados{}
.item-rel{text-align: center;}
.item-rel figure{width: 85px;height: 85px;display: inline-block;vertical-align: top;border-radius: 50%;overflow: hidden;margin-bottom: 8px;}
.item-rel figure a{display: block;}
.item-rel figure a img{width: 100%;}
.item-rel h2{margin-top: 0;margin-bottom: 8px;}
.item-rel h2 a{color: #FF6C0E;font-size: 18px;font-weight: 700;line-height: 130%;display: block;}
.item-rel h4{margin-top: 0;margin-bottom: 8px;font-size: 14px;color: #7E7E7E;font-weight: 700;}
.item-rel>span{display: block;font-size: 13px;color: #7E7E7E;font-weight: 400;}
.inner-relacionados>.row{margin-left: -10px;margin-right: -10px;}
.inner-relacionados>.row>.col-md-4{padding-left: 10px;padding-right: 10px;}
.inner-noticias{margin-bottom: 15px;}
/*Perfil*/
.bloque-perfil{padding: 20px 0;background: #E5E5E5;}
.perfil-p{position: relative;min-height: 124px;}
.perfil-p figure{border:4px solid #fff;width: 124px;height: 124px;border-radius: 50%;overflow: hidden;position: absolute;top: 0;left: 0;}
.perfil-p figure img{width: 100%;}
.t-perfil{padding-left: 145px;}
.t-perfil h3{margin-top: 10px;margin-bottom: 10px;font-size: 25px;color: #FF6C0E;font-weight: 700;line-height: 120%;}
.t-perfil ul li{float: left;margin-right: 10px;}
.t-perfil ul li:last-child{margin-right: 0;}
.t-perfil ul li a{width: 100px;height: 32px;line-height: 32px;text-align: center;font-size: 14px;color: #fff;font-weight: 700;border-radius: 4px;display: block;}
.t-perfil ul li a.lk{background: #4875B4;}
.t-perfil ul li a.tw{background: #33CCFF;}
.t-perfil ul li a:active, .t-perfil ul li a:focus, .t-perfil ul li a:hover{opacity: 0.8;text-decoration: none;}
.body-biografia{padding: 22px 0;background: #F2F2F2;}
.panel-bloque.i-ficha-t{padding: 15px;}
.i-ficha-t ul li h4{font-size: 13px;color: #9B9B9B;font-family: 'Roboto', sans-serif;font-weight: 400;margin-top: 0;margin-bottom: 5px;}
.i-ficha-t ul li h5{margin-top: 0;font-size: 15px;color: #434343;font-family: 'Roboto', sans-serif;font-weight: 700;margin-bottom: 10px;line-height: 130%;}
.inner-bio-tra .panel-bloque{padding: 20px;margin-bottom: 25px;}
.inner-bio-tra .panel-bloque p{font-size: 14px;color: #434343;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 140%;margin-bottom: 25px;}
.inner-bio-tra .panel-bloque p:last-child{margin-bottom: 0;}
.list-tag .panel-bloque{padding: 10px!important;}
.list-tag a{color: #434343;font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 15px;margin-right: 10px;margin-bottom: 10px;display: inline-block;vertical-align: top;}
/*sidebar perfil*/
.inner-entrevista{margin-bottom: 15px;}
.inner-egresados{}
.panel-bloque.inner-list-en{padding: 15px;margin-bottom: 15px;}
.inner-list-en .b-perfil{margin-bottom: 0;}
.cnt-list-en .cnt-ver-mas a{width: 100%;}
/*Sidebar*/
h3.title-bloque{margin-top: 0;margin-bottom: 15px;color: #989898;font-size: 25px;font-weight: 300;}
.panel-bloque{padding: 10px;background: #fff;border-radius: 4px;box-shadow: 0 3px 6px rgba(0,0,0,0.16);}
.inner-list-ne{margin-bottom: 15px;}
.inner-list-ne figure{float: left;width: 104px;margin-right: 12px;border-radius: 4px;overflow: hidden;}
.inner-list-ne figure a{display: block;}
.inner-list-ne figure a img{width: 100%;}
.inner-list-ne h2{margin-top: 0;margin-bottom: 10px;height: 44px;overflow: hidden;}
.inner-list-ne h2 a{display: block;font-size: 16px;font-weight: 700;color: #434343;line-height: 140%;}
.inner-list-ne p{margin-bottom: 0;font-size: 14px;color: #939393;font-family: 'Roboto', sans-serif;font-weight: 400;}
/*Noticias*/
.cnt-bloque-two{padding: 30px 0;}
.cnt-type-two{padding: 0 100px;}
.inner-more-noticias .inner-list-ne h2 a{font-size: 18px;}
.first-item figure{width: 305px;}
.inner-more-noticias .inner-list-ne h2{height: 49px;}
.inner-more-noticias .inner-list-ne.first-item h2{height: 95px;margin-bottom: 30px;}
.inner-list-ne.first-item h2 a{font-size: 26px;line-height: 120%;}
/*seacrh*/
.cnt-search{box-shadow: 0 3px 6px rgba(0,0,0,0.16);border-radius: 4px;background: #E6E6E6;padding: 20px;margin-bottom: 20px;}
.form-search{position: relative;}
.form-search input{outline: 0;border:0;height: 50px;background: #fff;width: 100%;border-radius: 4px;padding: 10px 50px 10px 20px;font-size: 14px;color: #434343;font-family: 'Roboto', sans-serif;font-weight: 400;}
.form-search button{position: absolute;top: 0;right: 0;width: 50px;height: 50px;outline: 0;background: transparent;border:0;padding: 0;text-align: center;}
.form-search button span{width: 15px;height: 15px;display: inline-block;background: url(../img/ico-search.svg) no-repeat;background-size: 100% 100%;vertical-align: middle;}
/*Footer*/
.nav-footer{background: #000000;padding: 10px 0;}
.logo-footer{padding-right: 10px;border-right: 1px solid #5A5A5A;margin-right: 12px;}
.logo-footer img{width: 100px;}
.cnt-logo-footer{margin-right: 60px;}
.cnt-logo-footer>h3{margin-top: 11px;margin-bottom: 0;color: #fff;font-size: 17px;font-weight: 600;}
.nav-footer-l{margin-top: 7px;}
.nav-footer-l ul li{float: left;margin-right: 38px;}
.nav-footer-l ul li:last-child{margin-right: 0;}
.nav-footer-l ul li a{color: #fff;font-size: 16px;font-weight: 400;}
.nav-footer-l ul li a:active, .nav-footer-l ul li a:focus, .nav-footer-l ul li a:hover{text-decoration: none;}
.nav-footer-l ul li a.active{font-weight: 700;}
.cnt-info-footer{padding: 25px 0 20px;background: #292929;}
.cnt-cont-social{padding: 0 12px 32px 12px;border-bottom: 1px solid #464646;margin-bottom: 20px;}
h3.title-f{margin-top: 0;font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 18px;color: #B2B2B2;margin-bottom: 15px;}
.inner-cont{margin-right: 40px;}
.inner-cont>a{font-size: 22px;color: #FFFFFF;font-weight: 400;font-family: 'Roboto', sans-serif;display: block;line-height: 100%;}
.inner-cont>a:active, .inner-cont>a:focus, .inner-cont>a:hover{text-decoration: none;}
.inner-social ul li{float: left;margin-right: 15px;}
.inner-social ul li:last-child{margin-right: 0;}
.inner-social ul li a{display: block;}
.inner-social ul li a.i-fb{width: 21px;height: 22px;background: url(../img/i-fb.svg) no-repeat;background-size: 100% 100%;}
.inner-social ul li a.i-tw{width: 26px;height: 22px;background: url(../img/i-tw.svg) no-repeat;background-size: 100% 100%;}
.inner-social ul li a.i-yt{width: 26px;height: 18px;background: url(../img/i-yt.svg) no-repeat;background-size: 100% 100%;margin-top: 2px;}
.inner-social ul li a.i-in{width: 22px;height: 22px;background: url(../img/i-in.svg) no-repeat;background-size: 100% 100%;}
.inner-social ul li a.i-lk{width: 21px;height: 21px;background: url(../img/i-lk.svg) no-repeat;background-size: 100% 100%;}
.cnt-copy-r{position: relative;min-height: 71px;}
.cnt-copy-r>span{width: 71px;height: 71px;background: url(../img/logo-ulima.png) no-repeat;background-size: 100% 100%;position: absolute;left: 10px;top: 0;}
.cnt-copy-r p{padding-left: 100px;margin-bottom: 5px;color: #929292;font-size: 14px;font-family: Arial;}
.cnt-copy-r p:first-child{margin-top: 12px;}
/*Responsive*/
@media (max-width: 1400px){
	.main-slider .owl-nav .owl-prev{left: 3%;}
	.main-slider .owl-nav .owl-next{right: 3%;}
}
@media (max-width: 1300px){
	.main-slider .owl-nav .owl-prev{left: 2%;}
	.main-slider .owl-nav .owl-next{right: 2%;}
	.inner-info-s{left: 50px;}
}
@media (max-width: 1200px){
	.container{width: 970px;}
	.cnt-logo-header>h3{font-size: 20px;}
	.inner-nav-header .form-search input{width: 180px;}
	.nav-header-l ul li{margin-right: 30px;}
	.inner-nav-header .form-search{margin-left: 30px;}
	.cnt-type-two{padding: 0;}
	.main-slider .owl-nav .owl-prev{left: 4%;}
	.main-slider .owl-nav .owl-next{right: 4%;}
	.panel-bloque.u-egresados{height: 225px}
}
@media (max-width: 992px){
	.container{width: 750px;}
	.nav-header-l{display: none;}
	.inner-more-noticias{margin-bottom: 40px;}
	.icoMenu{display: block;}
	header{height: 60px;}
	.inner-nav-header{margin-top: 0;}
	.cnt-logo-header{margin-top: 4px;}
	.cnt-logo-header>h3{font-size: 17px;width: auto;margin-top: 20px;}
	.logo-header{margin-top: 7px;}
	.logo-header img{width: 114px;}
	.item-rel{margin-bottom: 15px;}
	.inner-note{margin-bottom: 15px;}
	.inner-note-body{padding-left: 0;}
	.inner-note-body .social-note{display: none;}
	.list-tag .panel-bloque{padding: 8px;}
	.cnt-social-m{margin-bottom: 20px;}
	.cnt-social-m .social-note{display: block!important;position: initial;}
	.cnt-social-m .social-note ul li{float: left;margin-right: 12px;}
	.home header{height: 75px;background: -moz-linear-gradient(top, rgba(0,0,0,0.89) 0%, rgba(0,0,0,0) 100%);background: -webkit-linear-gradient(top, rgba(0,0,0,0.89) 0%,rgba(0,0,0,0) 100%);background: linear-gradient(to bottom, rgba(0,0,0,0.89) 0%,rgba(0,0,0,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#00000000',GradientType=0 );}
	.home .inner-nav-header{border-bottom: 0;margin-top: 3px;}
	.home .cnt-logo-header>h3{margin-top: 22px;}
	.main-slider .owl-nav{display: none;}
	.inner-info-s{left: 0;}
	.panel-bloque.u-egresados{height: auto;min-height: auto;}
	.inner-egresados{margin-bottom: 25px;}
}
@media (max-width: 768px){
	.container{width: auto;}
	.cnt-logo-header>h3{width: 140px;margin-top: 10px;}
	.inner-note>h1{font-size: 22px;}
	.cnt-multimedia{margin-left: -15px;margin-right: -15px;}
	.first-item figure{width: auto;float: inherit;margin-left: -10px;margin-top: -10px;margin-right: -10px;margin-bottom: 12px;}
	.inner-list-ne{overflow: hidden;}
	.inner-list-ne figure{border-radius: 0;}
	.inner-more-noticias .inner-list-ne.first-item h2{height: auto;margin-bottom: 10px;}
	.inner-more-noticias .inner-list-ne.first-item h2 a{font-size: 20px;}
	.nav-footer-l{display: none;}
	.home .cnt-logo-header>h3{margin-top: 13px;}
}
@media (max-width: 480px){
	.cnt-logo-footer{margin-right: 0;}
	.cnt-cont-social{padding-left: 0;}
	.inner-cont{margin-bottom: 20px;}
	h3.title-f{font-size: 16px;margin-bottom: 10px;}
	.inner-cont>a{font-size: 18px;}
	.cnt-copy-r p{font-size: 13px;}
	.cnt-copy-r p:first-child{margin-top: 0;}
	.u-egresados p{height: auto;line-height: 120%;}
	.u-egresados{min-height: auto;}
	.cnt-body{margin-bottom: 30px;}
	h3.title-bloque{font-size: 22px;}
	.inner-more-noticias .inner-list-ne.first-item h2 a{font-size: 16px;}
	.inner-more-noticias .inner-list-ne h2{height: 46px;}
	.inner-more-noticias .inner-list-ne h2 a{font-size: 16px;}
	.inner-info-s{width: 90%;}
	.home .cnt-logo-header>h3{width: 115px;}
	.inner-info-s h2 a{font-size: 20px;line-height: 130%;}
	.inner-info-s p{font-size: 14px;}
}
@media (max-width: 370px){
	
}